.root {
  background-color: #201f24;
  width: 300px;
  height: 100vh;
  color: #fff;

  padding: 30px 0 70px;
  border-radius: 0 15px 15px 0;
}

.logo {
  font-size: 32px;
  font-weight: 700;
  padding-left: 30px;
}

.list {
  margin-top: 60px;
}

.item {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  padding-left: 35px;

  border-left: 4px solid transparent;

  gap: 20px;

  width: 275px;
  height: 55px;

  &.active {
    background-color: #f8f5f0;
    color: #201f24;
    border-color: #237d79;
    border-radius: 0 15px 15px 0;
    svg {
      fill: #237d79;
    }
  }

  svg {
    width: 18px;
    height: 18px;
    fill: #b5b5b5;
  }
}
