@import url(./reset.css);

* {
  box-sizing: border-box;
}

body{
  color: #201f24;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f8f5f0;
}
